.encompassor{
    height: 510px;
    width: 30%;
    box-shadow: 0px 0px 4px black;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.calc-scheme{
    height: 80vh;
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header";
    gap: 10px;
}
.calc-buttons{
    background-color: #f4f4f4;
    color: black;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 5px black;
}
.calc-buttons:active{
    background-color: blueviolet;
}
.grid-1{
  grid-area: header;
  border-radius: 20px;
  text-align: end;
  padding: 10px;
  font-size: 34px;
}