.encompassor{
    vertical-align: middle;
    height: 100vh;
    width: 50%;
}
.calc-scheme{
    height: 80vh;
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header";
}
.calc-buttons{
    background-color: aqua;
    color: black;
}
.grid-1{
  grid-area: header;
}